<html>
  <head>
    <!-- Google result text-->
    <title>Augustin Cousin</title>
    <!-- Google result description-->
    <meta name="description" content="Augustin Cousin's website">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <meta name='KEYWORDS' content="Augustin Cousin Portfolio Informatique Analyste Programmeur Developpeur Javascript Web HTML CSS IPSA Blog Android Paris France Developpeur Jquery React ReactJS PHP">

        <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Augustin Cousin" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="www.augustincousin.com" />
    <meta property="og:image" content="https://res.cloudinary.com/dw7nokc0j/image/upload/v1566472611/Capture_d_e%CC%81cran_2019-08-22_a%CC%80_13.16.29.png" />
    <meta property="og:description" content="Developpeur Fullstack" />
    <meta property="og:site_name" content="AC's Website" />

    <title>Augustin Cousin</title>

    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/dw7nokc0j/image/upload/v1566926523/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' />


    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

  </head>

  <body id="scroll" class="loading">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
<!--     <div class="card-with-blur navbar fixed-top">
      <ul>
        <li><a href="../assets/CV-Augustin-Cousin.pdf" target="_blank">Curriculum</a></li>
        <li><a href="#first-card">Profil</a></li>
        <li><a href="#works">Projets</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div> -->
    <div class="arrow-up"><a href="#"></a></div>
      <div class="banner" id="banner">
          <ul id="scene"  class="scene">
            <!-- <li class="layer2" data-depth="0.15"><div class="layer"></div></li> -->
            <!-- <li class="layer3" data-depth="0.2"><div class="layer"></div></li> -->
            <!-- <li class="layer4" data-depth="0.1"><div class="layer"></div></li> -->
            <!-- <li class="astro2" data-depth="0"></li> -->
            <li class="name" data-depth="0.3"></li>
          </ul>
          <div class="navbar-blur-layer"></div>
          <div class="card-with-blur navbar">
            <ul>
              <li><a href="https://res.cloudinary.com/dw7nokc0j/image/upload/v1566927998/CV-Augustin-Cousin.pdf" target="_blank">Curriculum</a></li>
              <li><a href="#first-card">Profil</a></li>
              <li><a href="#works">Projets</a></li>
              <li><a href="#work3">Contact</a></li>
            </ul>

          </div>
      </div>
      <div class="first-card" id="first-card">
        <div class="corner-bottom"></div>
        <div class="corner-bottom-button"></div>
        <div class="more-infos">
          <div class="infos-icon b"></div>
          <div class="infos-icon d"></div>
          <div class="infos-icon a"></div>
          <div class="infos-icon c"></div>
        </div>
        <div class="about">
          <div class="avatar-icon">
            <img id="avatar-icon"  alt="Augustin Cousin  augustincousin.pro@gmail.com">
          </div>
          <div class="my-description">
            <p class="text-animated">Ingénieur aéronautique de formation, j’ai élargi mon éventail de compétances avec la formation <strong>@LeWagon</strong>. Au cours de cette formation intensive, j'ai appris à développer des applications web complexes, en utilisant des technologies innovantes.</p>
            <p class="text-animated">J'apprends par ailleurs, à en découvrir de nouvelles: Parallax.js, React.js ou encore Node.js. Je suis à l'aise avec le Back-end, mais je prends également beaucoup de plaisir à intégrer des sites et à travailler sur le design graphique.</p>
          </div>
            <hr class="hr">
          <div class="wagon-batch">
           Proudly did <strong>Batch #201 - Paris</strong> 🇫🇷
          </div>
        </div>
      </div>
      <div class="dev-profil">
        <div class="winning-list-container">
          <div class="winning-list">
            <div>
              <img id="success1" src="https://res.cloudinary.com/dw7nokc0j/image/upload/c_scale,w_200/v1553532294/data.png" alt="">
              <h2>Développement</h2>
              <p>Des sites uniques sur-mesure repondant aux besoins de mes clients</p>
            </div>
            <div>
              <img id="success2" src="https://res.cloudinary.com/dw7nokc0j/image/upload/c_scale,w_200/v1553532242/coding.png" alt="">
              <h2>Responsive design</h2>
              <p>Des sites pensés pour s'adapter à toutes les résolutions d'écran</p>
            </div>
            <div>
              <img id="success3" src="https://res.cloudinary.com/dw7nokc0j/image/upload/v1553532088/team.png" alt="">
              <h2>Accompagnement</h2>
              <p>Une gestion de projet où le client est accompagné de A à Z</p>
            </div>
          </div>
        </div>
      </div>
      <div class="works" id="works">
        <div class="works-title"><h1>Expériences</h1></div>
        <div class="works-wrapper" style="">
          <div class="project-list">
            <a href="https://www.delaterrealobjet.fr/" target="_blank">
              <div class="project-list-wrapper">
                <div class="project-list-content">
                  <h2>De la terre à l'objet</h2>
                  <h4>Developpeur full stack</h4>
                  <p>Sur le chemin de la terre à l'objet, je propose des situations de modelage adaptées à la personne. Le site internet à été totalement refondu. Avec notamment l'implémentation d'une gestion de panier. (100% Ruby on rails).</p>
                </div>
                <div class="project-list-img">
                  <img id="work1"  alt="">
                </div>
              </div>
            </a>
            <a href="https://pedalo.olvo.fr" target="_blank">
              <div class="project-list-wrapper">
                <div class="project-list-content">
                  <h2>Pedalo (@LeWagon)</h2>
                  <h4>Developpeur full stack</h4>
                  <p>Une application web opensource et une API qui permettent de traquer vos livraisons. Elle est connecté à un logiciel de "dispatch" qu'utilise la coopérative de livreur à vélo : Olvo.</p>
                </div>
                <div class="project-list-img">
                  <img id="work2"  alt="">
                </div>
              </div>
            </a>
            <a href="mailto:augustincousin.pro@gmail.com">
              <div class="last-child">
                <div>
                  <img id="work3" class="small-img"  alt="">
                  <p>Proposer un projet</p>
                </div>
              </div>
            </a>
          </div>
          <div class="second-card" id="second-card" style="width: 600px">
            <div class="div-relative">
              <div class="arrow-right"></div>
              <!-- <div class="arrow-left"></div> -->
              <div id="root">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="div-map"></div>
      <div class="dev-links">
        <a class="github" href="https://github.com/Augustin75009" target="_blank"></a>
        <a class="linkedin" href="https://www.linkedin.com/in/augustin-cousin-39671088/" target="_blank"></a>
      </div>
<!--       <div id="contact">
        <form action="mail.php" method="GET">
          <input type="text" name="name" placeholder="Message">
          <input type="email" name="_replyto" placeholder="Email">
          <input type="submit" value="Envoyer">
        </form>
      </div> -->
      <div class="container-scroll">
        <div class="blue-scroll"></div>
        <div class="grey-scroll"></div>
        <div class="progress-div-first"></div>
        <div class="progress-div-second"></div>
        <div class="progress-div-third"></div>
      </div>
      <div class="widget">
        <div id="widget-container">
          <div id="widget-mail" class="widget-mail">
            <div class="copiable content-mail" id="mail"><span><strong>augustincousin.pro@gmail.com</strong></span></div>
          </div>
          <div id="widget-phone" class="widget-phone">
            <div class="copiable content-phone"><span><strong>06.68.28.98.06</strong></span></div>
          </div>
          <div id="widget-cv" class="widget-cv">
            <div class="content-cv">
              <span style="width: 100px !important"> <a href="https://augustin75009.github.io/cv-html/" target="_blank" style="text-decoration: none; color: black"><strong>CV</strong></a></span>
              <span style="width: 100px !important"> <a href="https://www.linkedin.com/in/augustin-cousin-39671088/" target="_blank" style="text-decoration: none; color: black"><strong>Linkedin</strong></a></span>
            </div>
          </div>
        </div>
          <div id="widget-close" class="widget-close">
            <div class="content-close" id="close-widget"></div>
          </div>
        <div class="footer" style="display: none">
          <div class="footer-left">
            <div class="link A"><i class="fa fa-home" aria-hidden="true"></i></div>
            <div class="link B"><i class="fa fa-address-book" aria-hidden="true"></i></div>
          </div>
          <div class="footer-right">
            <div class="link C"><i class="fa fa-server" aria-hidden="true"></i></div>
            <div class="link D"><i class="fa fa-tasks" aria-hidden="true"></i></div>
          </div>
        </div>
      </div>
      <div class="copied-box">Copy that, Houston 🛰</div>
      <div class="footer-card">
        <!-- <div class="footer-blur-layer"></div> -->
        <div class="footer"><p>Conçu par - Augustin Cousin - avec ❤️<br>Tous droits réservés</p></div>
      </div>
    <!-- Script tags -->
    <script src="https://res.cloudinary.com/dw7nokc0j/raw/upload/v1553676819/parallax.min.js"></script>
    <script>
        const imageUrl = "https://res.cloudinary.com/dw7nokc0j/image/upload/v1566076125/marc-kleen-ipAHs6Z_1zs-unsplash.png";
        const avatarUrl = "https://res.cloudinary.com/dw7nokc0j/image/upload/c_scale,w_500/v1566472611/Capture_d_e%CC%81cran_2019-08-22_a%CC%80_13.16.29.png";
        const work1 = "https://res.cloudinary.com/dw7nokc0j/image/upload/c_scale,w_500/v1563785381/Responsive_Web_Design_Demo_Template.png";
        const work2 = "https://res.cloudinary.com/dw7nokc0j/image/upload/c_scale,w_500/v1563785371/Responsive_Web_Design_Demo_Template_1.png";
        const work3 = "https://res.cloudinary.com/dw7nokc0j/image/upload/v1553784046/plus.png";
        let bgElement = document.querySelector("body");
        let avatarElement = document.querySelector("#avatar-icon");
        let getwork1 = document.querySelector("#work1");
        let getwork2 = document.querySelector("#work2");
        let getwork3 = document.querySelector("#work3");
        bgElement.classList.add("loading");
        let preloaderImg = document.createElement("img");
        preloaderImg.src = imageUrl;

        preloaderImg.addEventListener('load', (event) => {
          bgElement.classList.remove("loading");
          bgElement.classList.add("loaded");
          avatarElement.src = avatarUrl;
          getwork1.src = work1;
          getwork2.src = work2;
          getwork3.src = work3;
          preloaderImg = null;
        });
    </script>
    <script src="https://res.cloudinary.com/dw7nokc0j/raw/upload/v1566909799/init.js"></script>
    <script src="https://res.cloudinary.com/dw7nokc0j/raw/upload/v1553676807/Chart.js"></script>
    <script src="https://res.cloudinary.com/dw7nokc0j/raw/upload/v1553676857/copy.js" defer></script>
    <script src="https://res.cloudinary.com/dw7nokc0j/raw/upload/v1566079372/parallaxScroll.js" defer></script>
    <script src="https://res.cloudinary.com/dw7nokc0j/raw/upload/v1566927104/shoWidget.js"></script>
    <script src="https://res.cloudinary.com/dw7nokc0j/raw/upload/v1554125262/scroll.js" defer></script>
    <!-- <script type="text/javascript" src="https://www.planetoscope.com/widget.php?id=261&f=1"></script> -->
    <!-- <script charset='UTF-8' src='http://www.meteofrance.com/mf3-rpc-portlet/rest/vignettepartenaire/751010/type/VILLE_FRANCE/size/PORTRAIT_VIGNETTE' type='text/javascript'></script> -->
    <script>

    </script>
    </div>
  </body>
</html>
